.version.popover /* version checker */
{
	color: #0000E7;
	background-color: #87FB75;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1812px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -79px;
	width: 0.01px;
}

#pu91-4
{
	width: 0.01px;
	margin-left: 205px;
	margin-top: 22px;
}

#u91-4
{
	z-index: 3;
	width: 101px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u91-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 101px;
	margin: 1px -10000px 0px 0px;
}

#u95-4
{
	z-index: 7;
	width: 35px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 161px;
}

#u95-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 35px;
	margin: 1px -10000px 0px 0px;
}

#u78
{
	z-index: 2;
	width: 32px;
	height: 31px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 290px;
}

#u96-4
{
	z-index: 11;
	width: 68px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 399px;
}

#u96-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 68px;
	margin: 1px -10000px 0px 0px;
}

#u97-4
{
	z-index: 15;
	width: 114px;
	min-height: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -2px;
	left: 502px;
}

#u97-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 114px;
	margin: -2px -10000px -1px 0px;
}

#u97-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 114px;
	margin: -2px -10000px -1px 0px;
}

#u168
{
	z-index: 22;
	height: 2px;
}

#u168-bw
{
	z-index: 22;
	margin-top: 21px;
	height: 2px;
}

#pu169
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: 13px;
}

#u169
{
	z-index: 30;
	width: 347px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 72px;
}

#u106-4
{
	z-index: 31;
	width: 347px;
	min-height: 57px;
}

#u108-6
{
	z-index: 35;
	width: 328px;
	min-height: 77px;
	margin-left: 12px;
	margin-top: 64px;
}

#u158
{
	z-index: 63;
	width: 128px;
	height: 128px;
	margin-right: -10000px;
	margin-top: 167px;
	left: 616px;
}

#u166-33
{
	z-index: 64;
	width: 61px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 137px;
	left: 714px;
}

#u439
{
	z-index: 152;
	width: 600px;
	background-color: #FFFFFF;
	padding-bottom: 47px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u445
{
	z-index: 154;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 100px;
	background: transparent url("../images/logo_mini.png") no-repeat left top;
}

#u441
{
	z-index: 153;
	width: 2px;
	height: 226px;
	background-color: #F3F3F3;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 300px;
}

#pu447-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 371px;
}

#u447-4
{
	z-index: 155;
	width: 143px;
	min-height: 38px;
	background-color: transparent;
	line-height: 31px;
	font-size: 26px;
	color: #FFD83A;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u448-8
{
	z-index: 159;
	width: 189px;
	min-height: 101px;
	background-color: transparent;
	line-height: 31px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 15px;
	position: relative;
}

#u450-6
{
	z-index: 167;
	width: 117px;
	min-height: 33px;
	background-color: transparent;
	line-height: 31px;
	color: #FFD83A;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-top: 14px;
	position: relative;
}

#u458
{
	z-index: 173;
	width: 15px;
	height: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 568px;
	background: transparent url("../images/close_icon.png") no-repeat left top;
}

#u458:hover
{
	width: 15px;
	height: 15px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
	background: transparent url("../images/close_icon_active.png") no-repeat left top;
}

#u156
{
	z-index: 23;
	width: 295px;
	margin-left: 108px;
	margin-top: 8px;
}

#u111
{
	z-index: 24;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u131
{
	z-index: 27;
	width: 24px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 73px;
}

#u138
{
	z-index: 25;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
	left: 125px;
}

#u148
{
	z-index: 28;
	width: 24px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 194px;
}

#u149
{
	z-index: 26;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
	left: 250px;
}

#u99
{
	z-index: 19;
	height: 2px;
}

#u99-bw
{
	z-index: 19;
	margin-top: 108px;
	height: 2px;
}

#pu178
{
	width: 0.01px;
	margin-left: 100px;
	margin-top: 38px;
}

#u178
{
	z-index: 97;
	width: 310px;
	height: 315px;
	margin-right: -10000px;
}

#u171
{
	z-index: 41;
	width: 347px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 492px;
}

#u173-4
{
	z-index: 42;
	width: 347px;
	min-height: 57px;
}

#u172-6
{
	z-index: 46;
	width: 328px;
	min-height: 77px;
	margin-left: 12px;
	margin-top: 64px;
}

#u187,#u187-bw
{
	z-index: 20;
	height: 2px;
}

#pu200
{
	width: 0.01px;
	margin-left: 81px;
	margin-top: 52px;
}

#u200
{
	z-index: 52;
	width: 347px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 32px;
}

#u201-4
{
	z-index: 53;
	width: 347px;
	min-height: 57px;
}

#u202-6
{
	z-index: 57;
	width: 328px;
	min-height: 77px;
	margin-left: 12px;
	margin-top: 64px;
}

#u215
{
	z-index: 98;
	width: 310px;
	height: 315px;
	margin-right: -10000px;
	left: 529px;
}

#u222
{
	z-index: 29;
	height: 2px;
}

#u222-bw
{
	z-index: 29;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 2px;
}

#introducing,#why,#subscribe
{
	left: -100px;
	top: -2px;
	margin-bottom: -2px;
}

#u228-4
{
	z-index: 100;
	width: 328px;
	min-height: 57px;
	margin-left: 91px;
	margin-top: 73px;
}

#widgetu397
{
	z-index: 104;
	width: 0.01px;
	height: 144px;
	margin-left: 85px;
	margin-top: 93px;
}

#widgetu402
{
	z-index: 105;
	width: 507px;
	height: 66px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#widgetu402.fld-err-st
{
	width: 507px;
	height: 66px;
	min-height: 0px;
	margin: -3px -10000px 0px 0px;
}

#u405-4
{
	z-index: 106;
	width: 489px;
	min-height: 48px;
	padding: 6px;
	margin-right: -10000px;
}

#widgetu402:hover #u405-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 48px;
	width: 489px;
	margin: 0px -10000px 0px 0px;
}

#widgetu402.focus-st #u405-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 48px;
	width: 489px;
	margin: 0px -10000px 0px 0px;
}

#widgetu402.fld-err-st #u405-4
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 48px;
	width: 489px;
	margin: 0px -10000px 0px 0px;
}

#widgetu402_input,#widgetu402_prompt
{
	width: 489px;
	min-height: 48px;
	padding: 6px;
}

#widgetu402:hover #widgetu402_input,#widgetu402.focus-st #widgetu402_input,#widgetu402.fld-err-st #widgetu402_input,#widgetu402:hover #widgetu402_prompt,#widgetu402.focus-st #widgetu402_prompt,#widgetu402.fld-err-st #widgetu402_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u406-4
{
	z-index: 110;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 140px;
}

#u412-4
{
	z-index: 114;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 140px;
}

#u407-4
{
	z-index: 118;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 140px;
}

#widgetu397.frm-sub-st #u406-4,#widgetu397.frm-subm-err-st #u412-4,#widgetu397.frm-subm-ok-st #u407-4
{
	min-height: 25px;
}

#u413-17
{
	z-index: 122;
	min-height: 63px;
	width: 504px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 83px;
	left: -1px;
}

#pu418
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1721px;
}

#u418
{
	z-index: 21;
	height: 2px;
}

#u418-bw
{
	z-index: 21;
	margin-top: 1813px;
	height: 2px;
}

#u205
{
	z-index: 99;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 1840px;
	left: 597px;
}

#u423-4
{
	z-index: 139;
	width: 101px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 1836px;
	left: 304px;
}

#u425-4
{
	z-index: 143;
	width: 101px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 1836px;
	left: 814px;
}

#u425-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 101px;
	margin: 1836px -10000px 0px 0px;
}

#contact
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 1813px;
}

#u438
{
	z-index: 151;
	height: 1891px;
	background-color: #000000;
	opacity: 0.19999999999999998;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=19.999999999999996)";
	filter: alpha(opacity=19.999999999999996);
}

#u438-bw
{
	z-index: 151;
	height: 1891px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-bottom: 79px;
}

#page .verticalspacer
{
	clear: both;
}

